

body {
    background-color: #f8f9fa; 
}


.navbar {
    background-color: #2c3e50 !important; 
}


.custom-card {
    border: 1px solid #e0e0e0;
    max-width: 700px; 
    margin: 0 auto;   
    background-color: #fff;
}


.btn-danger {
    background-color: #d9534f; 
    border-color: #d43f3a;
}

.btn-warning {
    background-color: #f0ad4e; 
    border-color: #eea236;
    color: white;
}


.col-form-label {
    font-weight: 500;
    color: #333;
}